<nav class="navbar navbar-expand-lg hireai-nav">
  <div class="container-fluid">
    <a class="navbar-brand hireai-brand" routerLink="/">
      <img src="logo.png" alt="HireAI Logo" class="hireai-logo" />
    </a>

    <button
      class="navbar-toggler hireai-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link hireai-link" routerLink="/browse">
            Open Positions
          </a>
        </li> 
        <ng-container *kaHasRoles="['ADMIN']; checkRealm:true">
          <li class="nav-item">
            <a class="nav-link hireai-link" routerLink="/admin/dashboard">
              Dashboard
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link hireai-link" routerLink="/listUsers">
              Users
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link hireai-link" routerLink="/admin/roles">
              Roles
            </a>
          </li>
        </ng-container>

        <ng-container >

          <li class="nav-item" *kaHasRoles="['ADMIN']; checkRealm:true; negate:true">
            <a class="nav-link hireai-link" routerLink="/listApplications">
              list applications
            </a>
          </li>

          <li class="nav-item" *kaHasRoles="['CANDIDATE']; checkRealm:true">
            <a class="nav-link hireai-link" routerLink="/my-applications">
              My Applications
            </a>
          </li>

        </ng-container>

      </ul>

      <ul class="navbar-nav ms-auto m-2">

        @if (authenticated) {
          <li class="nav-item">
            <a class="nav-link hireai-link" routerLink="/profile">
              My Profile
            </a>
          </li>
        }

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle hireai-link"
            href="#"
            id="authDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            @if (authenticated) { Account } @else { Sign in }
          </a>

          <ul class="dropdown-menu dropdown-menu-end hireai-dropdown" aria-labelledby="authDropdown">
            @if (!authenticated) {
              <li>
                <button class="dropdown-item hireai-dd-btn" type="button" (click)="login()">
                  Sign in
                </button>
              </li>
            } @else {
              <li>
                <button class="dropdown-item hireai-dd-btn" type="button" (click)="logout()">
                  Sign out
                </button>
              </li>
            }
          </ul>
        </li>

      </ul>

    </div>
  </div>
</nav>

<router-outlet />
