spring:
  application:
    name: application-microservice

  config:
    import: "configserver:http://config-server:9999"

  cloud:
    config:
      fail-fast: true

  datasource:
    url: jdbc:postgresql://application-db:5432/appdb
    username: appuser
    password: apppass
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: "http://keycloak:8080/realms/ai-recruitment/protocol/openid-connect/certs"

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
