spring:
  application:
    name: job-microservice

  config:
    import: "configserver:http://config-server:9999"

  cloud:
    config:
      fail-fast: true

  datasource:
    url: jdbc:postgresql://job-db:5432/jobdb
    username: jobuser
    password: jobpass
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
