spring:


  rabbitmq:
    host: "rabbitmq"  #ici local
    port: 5672
    username: "guest"
    password: "guest"
  application:
    name: "configserver"
  profiles:
    active: git
  #    active: native
  cloud:
    config:
      server:
        git:
          uri: https://github.com/selimlassoued/config-repo.git
          default-label: main
          clone-on-start: true

server:
  port: 9999
management:
  endpoints:
    web:
      exposure:
        include: '*'